{{#each savedPeople as |person|}}
    {{person-show model=person save-person=(action 'savePerson') delete-person=(action 'deletePerson') select-person=(action 'selectPerson') isSelectingAssociate=isSelectingAssociate select-associate=(action 'selectAssociate') selectedPerson=selectedPerson}}
{{/each}}

<button {{action "randomize" savedPeople}}>Randomize and Send</button>
