{{#if model}}
  {{#each model as |person|}}
    {{#if person.name}}
      {{person-show model=person save-person=(action 'savePerson')
                    delete-person=(action 'deletePerson')
                    select-person=(action 'selectPerson')
                    isSelectingAssociate=isSelectingAssociate
                    select-associate=(action 'selectAssociate')
                    cancel-association=(action 'cancelAssociation')
                    selectedPerson=selectedPerson}}
    {{/if}}
  {{/each}}
  {{#if showActions}}
    {{#if isSelectingAssociate}}
      <span class="placeholder text-center">Select pair to prevent drawing. Tap again to cancel.</span>
    {{else}}
      <span class="placeholder text-center">Tap pairs to prevent drawing each other.</span>
    {{/if}}
    <div class="text-center m-t">
      {{#link-to 'index' class="btn-primary"}}Add More{{/link-to}}
      {{#link-to 'send' class="btn-primary"}}Next{{/link-to}}

    </div>
  {{/if}}
{{else}}
  <span class="placeholder text-center m-b">Your List is blank.</span>
{{/if}}
