{{#if savedPeople}}
  {{#each savedPeople as |person|}}
      {{person-show model=person save-person=(action 'savePerson') delete-person=(action 'deletePerson') select-person=(action 'selectPerson') isSelectingAssociate=isSelectingAssociate select-associate=(action 'selectAssociate') selectedPerson=selectedPerson}}
  {{/each}}
  <button {{action "randomize" savedPeople}} class="btn btn-primary">Randomize and Send</button>
{{else}}
  <span class="placeholder text-center">Your List is empty.</span>
{{/if}}
