<label>Name</label>
{{input value=model.name}}
<label>Email</label>
{{input value=model.email}}
<label>Related Email</label>
{{input value=model.assigned}}
<button {{action "savePerson" model}}>Save Person</button>
