@import 'reset';

$white: #F7F5F6;
$red: #B40202;
$fontNormal: "Open Sans Condensed";
$fontFancy: "Euphoria Script", "Helvetica", sans-serif;

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: $white;
  color: #3D403D;
  font-family: $fontFancy;
  font-size: 22px;
  overflow-x: hidden;
}

#main-header {
  position: relative;
  z-index: 200;
}

#main-title {
  a {
    background: url('/images/logo.svg') no-repeat;
    text-indent: -9999px;
    width: 243px;
    height: 82px;
    margin: 200px auto 0px;
    display: block;
  }
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.top-container {
  background: #283442;
  overflow: hidden;
  height: 490px;
}

.outer-container {
  padding: 10px;
  padding-bottom: 50px;
  background: $white;
}

#snow {
  background: url('/images/snow.svg') center top;
  height: 100px;
  width: 100%;
  margin-top: -20px;
}

#trees {
  background: url('/images/trees.svg') right 100px top no-repeat;
  height: 230px;
  width: 100%;
  margin-top: -100px;
  @media (max-width: 600px) {
    background: url('/images/trees.svg') right top no-repeat;
  }
}



.person-name {
  font-size: 24px;
  .is-selecting-associate .is-selected-person & {
    opacity: 0.3;
  }
}

.people-list {
  text-align: center;
  &.is-selecting-associate {
    .is-selected-person {
    }
  }
  .person-item {
    margin-bottom: 5px;
  }
}

#snowfall {
    position:absolute;top:0;left:0;
}

.btn-primary {
  color: $red;
  font-size: 24px;
  margin-top: 25px;
}

.btn-delete {
  display: inline-block;
  text-indent: -9999px;
  width: 5px;
  height: 5px;
  border: 1px solid #ddd;
  padding: 5px;
  margin-top: -5px;
  box-sizing: content-box;
  background: url('/images/cross.svg') center no-repeat;
  margin-left: 15px;
  transform: translateY(5px);
}

.person-form {
  margin-top: 25px;
  padding-top: 25px;
  text-align: center;
  button {
    &:disabled {
      opacity: 0.5;
    }
  }
  .form-group {
    margin-bottom: 15px;
    font-family: "Open Sans Condensed";
    font-size: 16px;
    label {
      margin-right: 15px;
    }
  }
}

input, textarea {
  border: 1px solid #ddd;
  background: white;
  border-radius: 4px;
  padding: 10px 15px;
}

textarea {
  width: 100%;
  margin: 0 auto;
}

#actions {
  background: white;
  margin: 15px auto;
  max-width: 500px;
  padding: 25px;
  overflow: auto;
  border-radius: 3px;
  box-shadow: 0px 1px 5px transparentize(black, 0.9);
  margin-top: 25px;
  .btn-primary {
    margin-top: 10px;
  }
  .preview {
    font-family: $fontNormal;
    font-size: 18px;
    margin-bottom: 15px;
    line-height: 130%;
  }
  label {
    font-family: $fontNormal;
    font-size: 14px;
  }

  .preview-block {
    font-family: $fontNormal;
    text-align: left;
    p {
      margin-bottom: 15px;
      font-size: 18px;
      line-height: 130%;
    }
    strong {
      font-weight: bold;
    }
  }
}

.preview-label {
  font-family: $fontNormal;
  font-size: 14px;
  text-transform: uppercase;
  color: #aaa;
  letter-spacing: 1px;
  margin-bottom: 10px;
  display: block;
}

textarea {

  text-align: left;
  border: none;
  // border-bottom: 1px solid #ddd;
  resize: none;
  border-radius: 0;
  padding: 0;
  font-size: 18px;
  font-family: $fontNormal;
  background: none;
  &:focus {
    outline: none;
    // border-bottom: 1px solid transparentize($red, 0.8);
  }
}

.send-wishlist {
  // .preview-label {
  //   font-family: $fontNormal;
  //   margin-bottom: 10px;
  //   display: block;
  // }
  textarea {
    font-size: 20px;
    margin-top: 15px;
  }
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.placeholder {
  color: #aaa;
  display: block;
  margin-top: 25px;
  font-family: $fontNormal;
  font-size: 16px;
}

button {

  &:hover {
    cursor: pointer;
  }
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

#footer {
  text-align: center;
  font-size: 16px;
  padding-top: 15px;
  margin-top: 25px;
  a {
    font-family: $fontNormal;
    font-size: 14px;
    color: #666;
  }
}
