<header>
  <h1 id="main-title">Secret Santa by Hash Cookies</h1>
</header>

<div id="trees">
  
</div>
<div id="snow">
</div>
<div class="outer-container">
  <div class="container">
    {{outlet}}
  </div>
</div>
