<div class="top-container">
  {{snow-fall}}
  <header id="main-header">
    <h1 id="main-title">{{#link-to 'index'}}Secret Santa by Hash Cookies{{/link-to}}</h1>
  </header>

  <div id="trees"></div>
</div>
<div class="outer-container">
  <div class="container">
    {{outlet}}
  </div>
  <div id="footer">
    Produced with 💖 by the elves at Hash Cookies. <a href="https://github.com/milindalvares/secret-santa">[Github]</a> <a href="http://hashcooki.es/journal/secret-santa">[How it works]</a>
  </div>
</div>
