<div class="container">
{{#each model as |person|}}
  {{#if person.hasDirtyAttributes}}
    {{person-form model=person save-person=(route-action 'savePerson')}}
  {{else}}
    {{person-show model=person}}
  {{/if}}
{{/each}}
<button type="button" name="button" class="btn btn-primary" {{ action 'sendMail' model}}> Send </button>

</div>
